@font-face {font-family: 'Oswald';  src: local('Oswald'), url(../files/Oswald.woff) format('woff');}
body {
    margin: 0;
    overflow-x:  hidden;
    overflow-y:  scroll;
    font-family: "Helvetica Neue", Helvetica, Times New Roman, sans-serif;
    font-size: 11px;
    line-height: 1.3;
	background-color: #ffffff;
    color: #333;
	font-family:Times New Roman;
	font-size:15px;
}
.clear {
	clear: both;
}
*{	
	margin:0; 
	padding:0;
}
.center {text-align: center} .left {text-align: left} .right {text-align: right}
.time {color: #000; font-family:Times New Roman; font-size:15px; margin: 2px 0 0 0}
a{
color:#333;text-decoration:none;cursor:pointer;
font-family:Times New Roman;
}
a:hover{color:#c00;
font-family:Times New Roman;
}
.Msec a{font-size: 14px; padding: 6px 10px 6px 10px; border-right: 1px solid #D4D1C6}
.Msec a:hover{background: #DDDDDD}
.location, .location a{ color:#222222; font-family: Arial; font-size:16px;}
.location a:hover{color:#ff0000;}
.iborder { 
	border:1px solid #dddddd; padding:2px;
}
.iradious { 
	border:1px solid #79C9E2; padding:3px;
	-webkit-box-shadow:  0 0 7px #79C9E2;
	-moz-box-shadow:  0 0 5px #79C9E2;
	box-shadow:  0 0 5px #79C9E2;
}

/* Headline */
.title_lead a {
	line-height:34px; color:#02477B; font-size:26px; margin-bottom:5px; font-weight:normal; text-align:left; text-shadow: -1px -1px 0 #666;
	}
.title_lead a:hover{
	color:#336699; text-decoration: none;
	}
.titleS a {
	line-height:24px; color:#000; font-size:17px; margin-bottom:5px; font-weight:bold; text-align:left; 
	}
.titleS a:hover{
	color:#336699; text-decoration: none;
	}
.title_body a {
	line-height:26px; color:#000; font-size:16px; margin-bottom:5px; font-weight:normal; text-align:left; text-shadow: -1px -1px 0 #EEDBB3;
	}
.title_body a:hover{
	color:#184775; text-decoration: underline;
	}
.title_detail {
	font-family: Trebuchet MS; font-weight: bold; font-size: 30px; text-align: left; color: #000000;
	}
.news {
	font-family: Times New Roman;	font-size: 14px; font-weight: normal; text-align: left; color: #000000; line-height:20px;
}
.newsS {
	font-family: Times New Roman;	font-size: 13px; font-weight: normal; text-align: left; color: #000000; line-height:20px;
}
.title_inner a {
	font-family: 'Times New Roman'; font-size: 20px; color:#004f8b; text-align: left; line-height:24px;
}
.title_inner a:hover{
	text-decoration: underline;
}
.hanger {color: #545353}
.sholder {color: #cc0000}

.more_link{
	background:#E0E0E0;
	color:#000000;
	padding : 2 10px 2 10px;
	font-family: Times New Roman;
	font-size: 14px;
	text-decoration : none;
	}
.more_link:hover{
	background:#222222;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 14px;
	text-decoration : none;
	}
.TopTitle a {
	float:left; width: 60px; background: #01aef0; padding: 2px 2px 2px 2px; margin: 0 5px 5px 0; color: #ffffff; font-family: Arial; font-size: 15px; font-weight: bold; text-align: center;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	transition:0.5s ease;
}
.TopTitle a:hover {
	background: #88989F; color: #ffffff;
}
/******** Rashi Start ********/

.img_rashi { 
	width: 100%; border: 0px;
}
.rashi{
	font: 14px Times New Roman;
	}
.rashi_div {
	width: 12%; float:left; margin: 1% 2% 10px 2%; cursor: pointer; text-align: center;
}
/******** Rashi End ********/

	/* Related Start */
	.related_title {
	font-family: SolaimanLipi; background: #717171; color: #ffffff; font-weight: bold; padding: 5px 0 6px 10px
	}
	.related_table {
	background: #E9EAEA; border: 1px solid #717171; padding: 15px 0 15px 10px
	}
	.related a{ 
	DISPLAY: block;
	font-size: 16px; 
	font-family: SolaimanLipi;
	font-weight: normal;
	text-decoration : none; 
	color: #16387C; 
	line-height:28px;
	background: url(../files/arrow_closed.png) left top 6px no-repeat;	
	padding: 0 10px 0 20px;
	text-align:left;
	}
	.related a:hover { 
		text-decoration : underline; 
		color: #ff0000;
	}
	/* Related End */

/* Headline */
.DivSel A {
	color: #000;
	font-size: 14px;
	}
.DivSel:hover {
	background: #C562A5;
	color: #ffffff;
	}
.box {
/*
background: #FFF;
padding: 20px 0 10px 0;
box-shadow: 0px 0px 3px #ADA5A5;
border-bottom: #C8C8C8 solid 1px;
border-left: #C8C8C8 solid 1px;
border-right: #C8C8C8 solid 1px;
*/
}
.cat_style1 {
  background: #ECE9DD; color: #2B2B2A; font-size: 18px; padding: 2px 0 2px 10px; border-top: 1px solid #028482;
  -webkit-box-shadow: 0 8px 6px -6px #CBC7C7;
     -moz-box-shadow: 0 8px 6px -6px #CBC7C7;
          box-shadow: 0 8px 6px -6px #CBC7C7;

}
.cat_style2 {
  height: 30px; background: #906db0; color: #ffffff; padding: 3px 0 0 10px; margin: 0 0 0 0; text-align: left; 
  font-size: 16px; font-family: Arial; font-weight: bold;
}
.social {width: 25px; height: 25px}
.ticker {
	font: 15px; 
	font-family : Times New Roman;
	color : #000; 
	font-weight: normal;
	}
.ticker a {
	font: 15px; 
	font-family : Times New Roman;
	color : #000; 
	font-weight: normal;
	background: #ffffff url(../files/next.gif) left top 0px no-repeat;
	padding: 0 0 0 18px;
	}
.ticker a:hover {
	font: 15px; 
	font-family : Times New Roman;
	color : #CC0000; 
	font-weight: normal;
	text-decoration:none;
	}
.myButton{
    background:url(../files/print.png) no-repeat;
    cursor:pointer;
    border:none;
    width:39px;
    height:12px;
	border: 0px; margin: 0; padding: 0;
}
.bullte_latest{ 
DISPLAY: block;
font-size: 14px; 
font-family: Times New Roman;
text-decoration : none; 
color: #000; 
font-weight: normal;
background: url(../files/bullte_latest.png) left top 15px no-repeat;	
line-height:18px;
margin: 0 0 0 10px;
border-bottom: 1px solid #D1CBB4;
padding: 2px 0 2px 12px;
}
.bullte_latest A { 
font-size: 14px; 
FONT-FAMILY: Times New Roman;
text-decoration : none; 
color: #000; 
font-weight: normal;
line-height:25px;
}
.bullte_latest A:hover { 
	text-decoration : none; 
	color: #306294;
	font-weight: normal;	
}
.bullet{ 
DISPLAY: block;
font-size: 14px; 
font-family: Times New Roman;
text-decoration : none; 
color: #16387c; 
font-weight: normal;
background: url(../files/next.gif) left top 3px no-repeat;	
padding-left: 13px;
line-height:25px;
text-align:left;
}
.bullet A { 
font-size: 14px; 
FONT-FAMILY: Times New Roman;
text-decoration : none; 
color: #16387c; 
font-weight: normal;
line-height:25px;
}
.bullet A:hover { 
	text-decoration : none; 
	color: #cc0000;
	font-weight: normal;	
}
.bulletAR{ 
DISPLAY: block;
font-size: 14px; 
font-family: Times New Roman;
text-decoration : none; 
color: #000; 
font-weight: normal;
background: url(../files/next.gif) left top 2px no-repeat;		
padding-left: 13px;
line-height:25px;
text-align:left;
}
.bulletAR A { 
font-size: 14px; 
FONT-FAMILY: Times New Roman;
text-decoration : none; 
color: #000; 
font-weight: normal;
line-height:25px;
}
.bulletAR A:hover { 
	text-decoration : none; 
	color: #800000;
	font-weight: normal;	
}

/* Cat Daily */
.tab_heading_style{
	float:left;
    height:27px;
    width:100%;
	margin:0 0 7px;
	text-decoration: none;
	}
	
.tab_heading_style h2, .tab_heading_style h2 a{
	 font-size: 20px;
	 color:#3B6186;
	 letter-spacing:3px;
	 font-style:normal;
     font-weight:normal;
	 border-bottom:2px solid #3B6186;
	 font-family: 'Times New Roman';
	 text-decoration: none;
	}
.tab_heading_style h2:first-letter{
	background:#3B6186;
    color:#FFF;
	padding:1px 0 0 9px;
	margin:0 5px 0 0;	
	}
/* Cat Daily */

/* Cat Title */
.tab_heading_style{
	float:left;
    height:27px;
    width:100%;
	margin:0 0 7px;
	}
	
.tab_heading_style h3{
	 color:#3B6186;
	 letter-spacing:5px;
	 font-style:normal;
     font-weight:normal;
	 border-bottom:5px solid #0A673B;
	}
.tab_heading_style h3:first-letter{
	background:#0A673B;
    color:#FFF;
	padding:1px 0 0 9px;
	margin:0 5px 0 0;
	}
/* Cat Title */

/******* Tabbed News Widget Here *******/
.tabs{
	overflow:hidden;
	font-size: 14px; 
	font-family: Times New Roman;
	}
.tabs ul{
	list-style: none;
	}

.tabs ul li{
	float: left;
	}
.tabs ul li a{
	text-decoration: none;
	line-height: 30px;
	display: block;
	text-align:center;
	background: #CDCBCB url(../files/latest-news-button.png) no-repeat right bottom;
	color:#000000;
	padding-right: 22px;
	}
.tabs ul li .oppened{
	background-position: right top;
	background-color:#ece9dd;
	color:#000000;
	font-size: 14px;
	}
	
.tabs_content ul{
	list-style: none;
	}
.tabs_content ul li{
	border-bottom: 1px solid #d1cbb4;
	background: #ECE9DD;
	padding: 2px 0 2px 0;	
	}
/* Tabbed News Widget end */

/*/////////// COMMON STYLE ///////////*/
.container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 200px) and (max-width: 600px) {
	div.m_none {display: none;}
	.logo {width: 100%}
	.cat_div {width: 99%}
	.img_sec {width:50%; height: auto}
	.img_body {width: 50%; height: auto}
	.SecCol {width: 100%} .SecRight {float:left}
	.inner {float: left; width: 100%}
	.triple {float: left; width: 100%}
	.img_detail {width:100%; height: auto}
}
@media (min-width:601px) and (max-width: 990px) {
	div.t_none {display: none;}
	.container {width: 750px;}
	.logo {width: 100%}
	.cat_div {width: 48%}
	.cat_clr {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:200px; height: 150px}
	.img_body {width: 100px; height: 65px;}
	.SecCol {width: 100%} .SecRight {float:left}
	.inner {float: left; width: 49%; margin-right: 1%}
	.triple {float: left; width: 33%; padding-left: 1%}
	.img_detail {width:400px; height: auto}
	.msn_cat1 {float:left; width: 100%}
	.msn_cat2 {float:left; width: 100%}
}
@media (min-width:991px) {
	div.d_none {display: none;}
	.container {width: 970px;}
	.logo {height: 75px; text-align: center}
	.cat_div {width: 24%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:200px; height: 150px}
	.img_body {width: 130px; height: 85px;}
	.img_sp-int {height: 230px}
	.SecCol {width: 49%} .SecRight {float:right}
	.inner {float: left; width: 49%; margin-right: 1%}
	.triple {float: left; width: 33%; padding-left: 1%}
	.img_detail {max-width:620px; height: auto; margin: 0 0 10px 0;}
	.msn_cat1 {float:left; width: 33%}
	.msn_cat2 {float:left; width: 65%}
}
@media (min-width:1150px) {
	div.d_none {display: none;}
	.container {width: 1050px;}
	.logo {height: 80px}
	.max_lead {max-height: 250px; overflow: hidden;}
	.max_soptlight {max-height: 175px; overflow: hidden;}
	.cat_div {width: 24%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:250px; height: 175px}
	.img_body {width: 130px; height: 85px;}
	.img_sp-int {height: 230px}
	.SecCol {width: 49%} .SecRight {float:right}
	.inner {float: left; width: 49%; margin-right: 1%}
	.triple {float: left; width: 33%; padding-left: 1%}
	.img_detail {max-width:100%; height: auto; margin: 0 0 10px 0;}
	.msn_cat1 {float:left; width: 33%}
	.msn_cat2 {float:left; width: 65%}
}
@media (min-width:1200px) {
	div.d_none {display: none;}
	.container {width: 1170px;}
	.logo {height: 80px}
	.max_lead {max-height: 250px; overflow: hidden;}
	.max_soptlight {max-height: 175px; overflow: hidden;}
	.cat_div {width: 24%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:250px; height: 175px}
	.img_body {width: 130px; height: 85px;}
	.img_sp-int {height: 230px}
	.SecCol {width: 49%} .SecRight {float:right}
	.inner {float: left; width: 49%; margin-right: 1%}
	.triple {float: left; width: 32%; padding-right: 1%}
	.img_detail {max-width:100%; height: auto; margin: 0 0 10px 0;}
	.msn_cat1 {float:left; width: 33%}
	.msn_cat2 {float:left; width: 65%}
}
.container {
    padding-right: 2px;
    padding-left: 2px;
	max-width: 100%;
}
@media screen and (min-width:768px) {
.container {
    padding-right: 15px;
    padding-left: 15px;
	}
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:bold;line-height:1.1;color:inherit}
.h1,h1{font-family: Trebuchet MS; font-weight: bold; font-size: 30px; text-align: left; color: #000000;}
.h2,h2{font-family: Trebuchet MS; font-size: 16px}
.h3,h3{font-family: Trebuchet MS; font-size: 16px}
.h4,h4{font-size:18px}
.h5,h5{font-size:14px}
.h6,h6{font-size:12px}

*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}

ul, li{list-style:none;}
#mm ul li {font-size: 14px; color: #000000}
#mm ul li a {font-size: 14px; color: #000000; padding: 0 10px 0 10px; height:30px; line-height:30px; float:left; border-right: 1px solid #B3ABAB}
#mm ul li a:hover, #mm ul .active a {background:#CC0000; color: #ffffff;}
/* ########### Menu Start ############### */
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Times New Roman;
  font-size:16px;
}
#cssmenu:after, #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; 
}
#cssmenu #menu-button {
  display: none; 
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: '';   
}
#cssmenu > ul {
  background: url('files/bg.png');
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 6px 10px 0 10px;
  border-right: 1px solid #CCCCCC;
  text-decoration: none;
  color: #000;
  font-family: Oswald;
  font-size: 13px;
  text-transform: uppercase;
  height: 26px;
  margin: 0px 0 0px 0; 
}
#cssmenu > ul > li.activeH > a {
  color:#ffffff; background:#000000;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color:#000000; background: #d8d8d8;
}
#cssmenu > ul > li.active > a {
  color:#ffffff; background: #0096cd;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 0; 
}
#cssmenu > ul > li.has-sub.active > a::after, #cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff; 
}
#cssmenu ul ul {
  z-index: 2000;
  position: absolute;
  left: -9999px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in; 
    margin-top: -5px;
}
#cssmenu.align-right ul ul {
  text-align: right; 
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;  
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 0;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px; 
}
#cssmenu > ul > li > ul {
  top: 120px; 
}
#cssmenu > ul > li:hover > ul {
  top: 28px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0; 
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;  
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1; 
}
#cssmenu ul ul li a {
  text-decoration: none;
  padding: 7px 0 7px 7px;
  width: 140px;  
  color: #444444;
  background: #F0F1F1;
  border-bottom: 1px solid #ddd;
  text-align:left;
  font-family: Arial;
  font-size: 12px;
  font-weight:bold;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
  color: #000; background: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;  
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent; 
}
@media (min-width:300px) and (max-width:1009px) {
  #cssmenu > ul > li.m_none > a {display: none;}
  #cssmenu {
    background: '';
	z-index: 2000;
  }
  #cssmenu > ul {    
	display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    padding: 6px 4px 23px 4px;
    border-right: 0;
	border-bottom: 1px solid #cccccc;
	color: #000;
	background:#DDDDDD;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
	  color:#fff;
	  background:#CC0000;
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-weight: normal;
	font-size: 18px;
    color: #000000;
    padding: 10px 4px 8px 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url('files/bg.png');
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 12px;
	background:#f0f1f1;
	color: #000000;
	border-bottom: 1px solid #B7B6B6;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 25px;
    top: 12px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 25px;
    top: 22px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}
/* ########### Menu End ############### */